#accessibility-settings-banner {
  .contents {
    > span {
      display: flex;
      align-items: center;
    }

    .octicon {
      margin-right: var(--spacing);
      fill: var(--dialog-information-color);
    }

    .link-button-component {
      padding: 0 5px;
    }
  }
}
